:root {
	/* Material Design 3 colors */
	--material-color-primary: #6750A4;
	--material-color-primary-on-dark: #D0BCFF;
	--material-color-primary-container: #EADDFF;
	--material-color-primary-container-on-dark: #4F378B;
	--material-color-secondary: #625B71;
	--material-color-secondary-on-dark: #CCC2DC;
	--material-color-secondary-container: #E8DEF8;
	--material-color-secondary-container-on-dark: #4A4458;
	--material-color-tertiary: #7D5260;
	--material-color-tertiary-on-dark: #EFB8C8;
	--material-color-tertiary-container: #FFD8E4;
	--material-color-tertiary-container-on-dark: #633B48;
	--material-color-surface: #FFFBFE;
	--material-color-surface-on-dark: #1C1B1F;
	--material-color-surface-variant: #E7E0EC;
	--material-color-surface-variant-on-dark: #49454F;
	--material-color-background: #FFFBFE;
	--material-color-background-on-dark: #1C1B1F;
	--material-color-error: #B3261E;
	--material-color-error-on-dark: #F2B8B5;
	--material-color-error-container: #F9DEDC;
	--material-color-error-container-on-dark: #8C1D18;
	--material-color-on-primary: #FFFFFF;
	--material-color-on-primary-on-dark: #371E73;
	--material-color-on-primary-container: #21005E;
	--material-color-on-primary-container-on-dark: #EADDFF;
	--material-color-on-secondary: #FFFFFF;
	--material-color-on-secondary-on-dark: #332D41;
	--material-color-on-secondary-container: #1E192B;
	--material-color-on-secondary-container-on-dark: #E8DEF8;
	--material-color-on-tertiary: #FFFFFF;
	--material-color-on-tertiary-on-dark: #492532;
	--material-color-on-tertiary-container: #370B1E;
	--material-color-on-tertiary-container-on-dark: #FFD8E4;
	--material-color-on-surface: #1C1B1F;
	--material-color-on-surface-on-dark: #E6E1E5;
	--material-color-on-surface-variant: #49454E;
	--material-color-on-surface-variant-on-dark: #CAC4D0;
	--material-color-on-surface-disabled: rgb(28 27 31 / 12%);
	--material-color-on-surface-disabled-on-dark: rgb(230 225 229 / 12%);;
	--material-color-on-background: #1C1B1F;
	--material-color-on-background-on-dark: #E6E1E5;
	--material-color-on-error: #FFFFFF;
	--material-color-on-error-on-dark: #601410;
	--material-color-on-error-container: #370B1E;
	--material-color-on-error-container-on-dark: #F9DEDC;
	--material-color-outline: #79747E;
	--material-color-outline-on-dark: #938F99;
	--material-color-outline-disabled: rgb(121 116 126 / 12%);
	--material-color-outline-disabled-on-dark: rgb(147 143 153 / 12%);
	--material-color-shadow: #000000;
	--material-color-inverse-surface: #313033;
	--material-color-inverse-surface-on-dark: #E6E1E5;
	--material-color-inverse-on-surface: #F4EFF4;
	--material-color-inverse-on-surface-on-dark: #313033;
	--material-color-inverse-primary: #D0BCFF;
	--material-color-inverse-primary-on-dark: #6750A4;

	/* Material Design 3 typography */
	--material-typeface-brand-regular: "Roboto";
	--material-typeface-weight-regular: 400;
	--material-typeface-plain-medium: "Roboto";
	--material-typeface-weight-medium: 500;

	/* Display large */
	--material-typescale-display-large-font: var(--material-typeface-brand-regular);
	--material-typescale-display-large-line-height: 4rem;
	--material-typescale-display-large-size: 3.5625rem;
	--material-typescale-display-large-tracking: 0rem;
	--material-typescale-display-large-weight: var(--material-typeface-weight-regular);

	/* Display medium */
	--material-typescale-display-medium-font: var(--material-typeface-brand-regular);
	--material-typescale-display-medium-line-height: 3.25rem;
	--material-typescale-display-medium-size: 2.8125rem;
	--material-typescale-display-medium-tracking: 0rem;
	--material-typescale-display-medium-weight: var(--material-typeface-weight-regular);

	/* Display small */
	--material-typescale-display-small-font: var(--material-typeface-brand-regular);
	--material-typescale-display-small-line-height: 2.75rem;
	--material-typescale-display-small-size: 2rem;
	--material-typescale-display-small-tracking: 0rem;
	--material-typescale-display-small-weight: var(--material-typeface-weight-regular);

	/* Headline large */
	--material-typescale-headline-large-font: var(--material-typeface-brand-regular);
	--material-typescale-headline-large-line-height: 2.5rem;
	--material-typescale-headline-large-size: 2rem;
	--material-typescale-headline-large-tracking: 0rem;
	--material-typescale-headline-large-weight: var(--material-typeface-weight-regular);

	/* Headline medium */
	--material-typescale-headline-medium-font: var(--material-typeface-brand-regular);
	--material-typescale-headline-medium-line-height: 2.25rem;
	--material-typescale-headline-medium-size: 1.75rem;
	--material-typescale-headline-medium-tracking: 0rem;
	--material-typescale-headline-medium-weight: var(--material-typeface-weight-regular);

	/* Headline small */
	--material-typescale-headline-small-font: var(--material-typeface-brand-regular);
	--material-typescale-headline-small-line-height: 2rem;
	--material-typescale-headline-small-size: 1.5rem;
	--material-typescale-headline-small-tracking: 0rem;
	--material-typescale-headline-small-weight: var(--material-typeface-weight-regular);

	/* Title large */
	--material-typescale-title-large-font: var(--material-typeface-brand-regular);
	--material-typescale-title-large-line-height: 1.75rem;
	--material-typescale-title-large-size: 1.375rem;
	--material-typescale-title-large-tracking: 0rem;
	--material-typescale-title-large-weight: var(--material-typeface-weight-regular);

	/* Title medium */
	--material-typescale-title-medium-font: var(--material-typeface-plain-medium);
	--material-typescale-title-medium-line-height: 1.5rem;
	--material-typescale-title-medium-size: 1rem;
	--material-typescale-title-medium-tracking: 0.0094rem;
	--material-typescale-title-medium-weight: var(--material-typeface-weight-medium);

	/* Title small */
	--material-typescale-title-small-font: var(--material-typeface-brand-regular);
	--material-typescale-title-small-line-height: 1.75rem;
	--material-typescale-title-small-size: 1.375rem;
	--material-typescale-title-small-tracking: 0rem;
	--material-typescale-title-small-weight: var(--material-typeface-weight-regular);

	/* Label large */
	--material-typescale-label-large-font: var(--material-typeface-plain-medium);
	--material-typescale-label-large-line-height: 1.25rem;
	--material-typescale-label-large-size: 0.875rem;
	--material-typescale-label-large-tracking: 0.0063rem;
	--material-typescale-label-large-weight: var(--material-typeface-weight-medium);

	/* Label medium */
	--material-typescale-label-medium-font: var(--material-typeface-plain-medium);
	--material-typescale-label-medium-line-height: 1rem;
	--material-typescale-label-medium-size: 0.75rem;
	--material-typescale-label-medium-tracking: 0.0063rem;
	--material-typescale-label-medium-weight: var(--material-typeface-weight-medium);

	/* Label small */
	--material-typescale-label-small-font: var(--material-typeface-plain-medium);
	--material-typescale-label-small-line-height: 0.375rem;
	--material-typescale-label-small-size: 0.6875rem;
	--material-typescale-label-small-tracking: 0.0313rem;
	--material-typescale-label-small-weight: var(--material-typeface-weight-medium);

	/* Body large */
	--material-typescale-body-large-font: var(--material-typeface-plain-medium);
	--material-typescale-body-large-line-height: 1.5rem;
	--material-typescale-body-large-size: 1rem;
	--material-typescale-body-large-tracking: 0.0094rem;
	--material-typescale-body-large-weight: var(--material-typeface-weight-regular);

	/* Body medium */
	--material-typescale-body-medium-font: var(--material-typeface-plain-medium);
	--material-typescale-body-medium-line-height: 1.25rem;
	--material-typescale-body-medium-size: 0.875rem;
	--material-typescale-body-medium-tracking: 0.0156rem;
	--material-typescale-body-medium-weight: var(--material-typeface-weight-regular);

	/* Body small */
	--material-typescale-body-small-font: var(--material-typeface-plain-medium);
	--material-typescale-body-small-line-height: 1rem;
	--material-typescale-body-small-size: 0.75rem;
	--material-typescale-body-small-tracking: 0.025rem;
	--material-typescale-body-small-weight: var(--material-typeface-weight-regular);

	/* Material Design overlay opacity values */
	--material-state-hover-overlay-opacity: 8%;
	--material-state-focus-overlay-opacity: 12%;
	--material-state-pressed-overlay-opacity: 12%;
	--material-state-dragged-overlay-opacity: 16%;
	--material-state-disabled-content-overlay-opacity: 38%;
	--material-state-disabled-container-overlay-opacity: 12%;
}

@tailwind base;
@tailwind utilities;
