<%= content_for :body_classes do %><%= sanitize "p-8" %><% end %>
<h1 class="pb-8 text-3xl">Material ViewComponents</h1>

<h2 class="pb-4 text-2xl">Buttons</h2>
<%= render Material::ButtonComponent.new(text: "Button") %>
